* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 15px;
}

div, p, input, button, form, input, textarea, button, a {
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
}

.title {
    color: #2f383b;
    text-transform: uppercase;
    text-align: center;
}

/*  Header  */

#header {
    background: #4e8598;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
    padding-top: 54px;
}

.offer {
    text-align: center;
    margin-top: 185px;
}

.offer__title {
    color: white;
}

.button {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding: 18px 36px;
    border-radius: 30px;
    display: inline-block;
    text-transform: uppercase;
}

.offer__button {
    margin-top: 21px;
    color: white;
    border: 1px solid white;
}

.offer__image {
    display: block;
    margin: 177px auto 0;
    padding-bottom: 58px;
}

/*  About  */

.description-title-margin {
    margin-top: 75px;
}

.about {
    margin-top: 86px;
}

.about__mission {
    float: left;
    width: 470px;
}

.about__merits {
    float: left;
    padding-left: 15px;
}

.about__title {
    text-align: left;
}

.about__title:after {
    content: '';
    display: block;
    background: #4e8598;
    width: 72px;
    height: 3px;
    margin-top: 10px;
}

.about__text {
    width: 395px;
    color: #2f383b;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    margin-top: 30px;
}

.about__list {
    margin-top: 24px;
}

.about__list-item {
    margin-top: 20px;
    display: table;
}

.about__item-image {
    text-align: center;
    width: 40px;
    float: left;
    margin-right: 18px;
}

.about__item-name {
    float: left;
    color: #4e8598;
    font-size: 16px;
    font-weight: bold;
    margin-top: 6px;
    margin-right: 25px;
}

.about__item-description {
    float: left;
    color: #b6b8b8;
    margin-top: 7px;
}

.advantages-title-margin {
    margin-top: 152px;
}

.reasons {
    margin-top: 67px;
}

.reasons__item {
    display: block;
    float: left;
    text-align: center;
    width: 33.33%;
}

.reasons__circle {
    border-radius: 50%;
    border: 1px solid #2f383b;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
    line-height: 75px;
}

.reasons__digit {
    font-size: 30px;
    color: #2f383b;
}

.reasons__name {
    font-size: 16px;
    font-weight: bold;
    color: #2f383b;
    margin-top: 18px;
}

.reasons__circle:hover {
    background: #2f383b;
}

.reasons__circle:hover .reasons__digit {
    color: white;
}

.opinion {
    margin-top: 60px;
    text-align: center;
}

.opinion__text {
    width: 415px;
    font-size: 14px;
    color: #2f383b;
    margin: 22px auto 0;
    line-height: 1.7em;
}

.opinion__button {
    margin-top: 25px;
    color: white;
    border: 1px solid #2f383b;
    background: #2f383b;
}

#footer {
    margin-top: 75px;
    background: #2f383b;
}

.footer__text {
    padding: 50px 0;
    color: #9fa2a3;
    font-size: 13px;
    float: left;
}

.footer__text:first-child {
    margin-right: 240px;
}

.footer__text:last-child {
    color: #ebebec;
    border-bottom: 1px dotted #ebebec;
    float: right;
    padding-bottom: 3px;
}