* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 15px;
}

div, p, input, button, form, input, textarea, button, a {
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
}

.title {
    color: #2f383b;
    text-transform: uppercase;
    text-align: center;
}

/*  Header  */

#header {
    background: #4e8598;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
    padding-top: 54px;
}

.offer {
    text-align: center;
    margin-top: 185px;
}

.offer__title {
    color: white;
}

.button {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding: 18px 36px;
    border: 1px solid white;
    border-radius: 30px;
    display: inline-block;
    text-transform: uppercase;
}

.offer__button {
    margin-top: 21px;
}

.offer__image {
    display: block;
    margin: 177px auto 0;
    padding-bottom: 58px;
}

/*  About  */

.description-title-margin {
    margin-top: 75px;
}

.about {
    margin-top: 86px;
}

.about__mission {
    float: left;
    width: 470px;
}

.about__merits {
    float: left;
    padding-left: 15px;
}

.about__title {
    text-align: left;
}

.about__title:after {
    content: '';
    display: block;
    background: #4e8598;
    width: 72px;
    height: 3px;
    margin-top: 10px;
}

.about__text {
    width: 395px;
    color: #2f383b;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    margin-top: 30px;
}

.about__list {
    margin-top: 24px;
}

.about__list-item {
    margin-top: 20px;
    display: table;
}

.about__item-image {
    text-align: center;
    width: 40px;
    float: left;
    margin-right: 18px;
}

.about__item-name {
    float: left;
    color: #4e8598;
    font-size: 16px;
    font-weight: bold;
    margin-top: 6px;
    margin-right: 25px;
}

.about__item-description {
    float: left;
    color: #b6b8b8;
    margin-top: 7px;
}

.advantages-title-margin {
    margin-top: 152px;
}