* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 14px;
}

div, p, input, button, form, input, textarea, button, a {
    box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*  Header  */

.logo {
    width: 252px;
    float: left;
    margin: 10px 53px 15px 0;
}

.menu {
    float: left;
}

.menu__item {
    float: left;
    margin-right: 18px;
    display: block;
}

.menu__item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu__item:last-child {
    margin-right: 0;
}

.header__menu {
    margin-top: 30px;
}

.call__phone {
    font-size: 21px;
    font-weight: bold;
    color: #2f1059;
}