.wrap {
    background: darkblue;
    height: 600px;
    padding-top: 50px;
    font-family: 'Roboto Slab', Tahoma, sans-serif;
}

.field {
    background: blue;
    width: 40%;
    margin: 0 auto;
    position: relative;
    color: white;
    padding: 40px;
    z-index: 4;
    transition: all 1s ease;
    border-radius: 13px;
    max-width: 1000px;
}

.field:hover {
    background: red;
    width: 200px;
}

.block {
    width: 100px;
    height: 100px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 3;
}


header {
    background: red;
    height: 75px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
}

/*p {
    visibility: hidden;
    transition: all 0.5s ease;
}

.field:hover p {
    visibility: visible;
    width: 700px;
}*/

button {
    outline: none;
}

/*@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlabBold.eot'); !* IE9 Compat Modes *!
    src: url('../fonts/RobotoSlabBold.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!
    url('../fonts/RobotoSlabBold.woff2') format('woff2'), !* Super Modern Browsers *!
    url('../fonts/RobotoSlabBold.woff') format('woff'), !* Pretty Modern Browsers *!
    url('../fonts/RobotoSlabBold.ttf')  format('truetype'), !* Safari, Android, iOS *!
    url('../fonts/RobotoSlabBold.svg#svgFontName') format('svg'); !* Legacy iOS *!
}*/
